extends layout
block content
  #wrapper(ng-controller='globalController')
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation', style='margin-bottom: 0')
      .navbar-header
        button.navbar-toggle(type='button', ng-init="sideCollapsed = true", ng-click="sideCollapsed = !sideCollapsed")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/#/')
          .logo

      ul.nav.navbar-top-links.navbar-left
        li(uib-dropdown, auto-close='outsideClick')
          a(href, uib-dropdown-toggle)
            i.fa.fa-envelope.fa-fw
            i.fa.fa-caret-down
          ul(uib-dropdown-menu)
            mailme

      ul.nav.navbar-top-links.navbar-right.navbar-collapse.collapse(uib-collapse='sideCollapsed')
        li
          a(href='/#login')
            |  Login


      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse.collapse(uib-collapse='sideCollapsed')
          ul#side-menu.nav
            li
              a(id='mochawesome-link', ng-click="mochaCollapsed = !mochaCollapsed")
                i.glyphicon.glyphicon-link
                |  Mocha
              ul.nav.nav-second-level(uib-collapse='mochaCollapsed')
                li
                  a(id='mochawesome-unit-link' href='#mochawesome-unit')
                    i.glyphicon.glyphicon-link
                    |  Unit Test
                li
                  a(id='mochawesome-route-link' href='#mochawesome-route')
                    i.glyphicon.glyphicon-link
                    |  Route Test
                li
                  a(id='mochawesome-spec-link' href='#mochawesome-spec')
                    i.glyphicon.glyphicon-link
                    |  End To End Test
            li
              a(id='coverage-link', href='#coverage')
                i.glyphicon.glyphicon-link
                |  Istanbul
            li
              a(id='saucelabs-link', href='#saucelabs')
                i.glyphicon.glyphicon-link
                |   SauceLabs

    nav.navbar.navbar-default.navbar-fixed-bottom
      ul.nav.navbar-top-links.navbar-right
        li
          a(href='https://github.com/MisterDevo/TFTFT/releases')
            | #{version}
        li
          a(href='https://github.com/MisterDevo/TFTFT')
            i.fa.fa-github-alt

  #page-wrapper.txtstyle
    .row
      div(ng-view='')
